<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Network</key>
	<string>testnet</string>
	<key>ClientId</key>
	<string>BOvNza5MboMpffFH1UsOt17IaSoE0qm7aniuWsPzC1RzBUk4Co6P5zpBAhXSK7rUg4HGaBiJz4sTkdFqQb3Ry9k</string>
</dict>
</plist>
